.nl-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--nl-space-lg);
  padding-right: var(--nl-space-lg);
}

.nl-container-md {
  max-width: 48rem; /* 768px */
}

.nl-container-lg {
  max-width: 64rem; /* 1024px */
}
